body {
  background-image: url(candle1.jpg);
  backdrop-filter: blur(20px);
}
/*                  NavBar */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "cursive";
}

.bn30 {
  border: 4em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #d2b48c, #a287a3);
  padding: 0.9em 3em;
  border-radius: 65px;
  box-shadow: 2px 2px 10px rgba(109, 105, 105, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.31s;
  color: #54424b;
  background-color: #bba5b0;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #54424b, #a287a3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #bba5b0;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #54424b, #a287a3);
  box-shadow: 0 12px 24px #BBA5B0(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #54424b, #a287a3);
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #bba5b0;
}
header .header-left {
  padding-left: 3px;
  display: flex;
  align-items: center;
}
header .header-left .logo {
  width: 140px;
}
header .header-left nav {
  padding-left: 70px;
  margin-left: 50px;
}
header .header-left nav ul {
  display: flex;
}
nav ul li a {
  display: block;
  color: #54424b;
  font-size: 18px;
  padding: 5px 10px;
  transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #54424b;
}
.login-signup {
  color: #54424b;
}
nav .login-signup {
  display: none;
}
header .header-right {
  display: flex;
  align-items: center;
}
header .login-signup {
  color: #54424b;
  font-weight: bold;
}
header .login-signup a {
  display: inline-block;
  color: #bba5b0;
  background: #54424b;
  padding: 5px 12px;
  border-radius: 5px;
}
header .header-right .reposivebar {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header-right .reposivebar div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #54424b;
}
@media only screen and (max-width: 1000px) {
  header {
    padding: 0 20px;
  }
  header .header-right .reposivebar {
    display: block;
  }
  header .header-left nav {
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #bba5b0;
    padding: 30px;
    transition: 0.3s;
    text-align: center;
    z-index: -1;
  }
  header .header-left nav.active {
    top: 70px;
  }
  header .header-left nav ul {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  nav .login-signup {
    display: block;
    margin-top: 20px;
  }
  header .header-right .login-signup {
    display: none;
  }
}
.content img {
  width: 10rem;
  /* filter: blur(70px); */
}

/*                   SHOP NOW CONTAINER            */

.about {
  color: #54424b;
  width: 600px;
  height: 0px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}
.about h2 {
  font-size: 2.4rem;
}

p {
  margin-top: 3%;
  margin-left: 10%;
  color: #54424b;
  font-style: italic;
}
/*                  New Arrivals line                              */
.hr-lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #54424b;
}
.hr-lines {
  position: relative;
  color: #54424b;
}
.hr-lines {
  position: relative;
  /*  new lines  */
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}
.hr-lines:after {
  content: " ";
  height: 2px;
  width: 130px;
  background: #54424b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
/*               Container New Arrivals                   */
.container {
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-basis: 100%;
  border-radius: 10px;
}

.col-sm-4 {
  flex-basis: calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
  border-radius: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(226, 202, 157);
  text-align: center;
  padding: 0px;
}

.image-text {
  margin: 0;
  font-weight: bold;
}

.image-price {
  margin: 0;
  font-weight: bold;
  color: #a287a3;
}
/*                          SCENTS LINE                             */

.hr-lines1:before {
  content: " ";
  display: block;
  height: 2px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #54424b;
}
.hr-lines1 {
  position: relative;
  color: #54424b;
}
.hr-lines1 {
  position: relative;
  /*  new lines  */
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}
.hr-lines1:after {
  content: " ";
  height: 2px;
  width: 130px;
  background: #54424b;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
/*       Scents container   */
.new-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 140px;
  border-radius: 10px;
}

.new-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 10px;
  flex-basis: 100%;
}

.new-col-sm-3 {
  flex-basis: calc(25% - 20px);
  max-width: calc(25% - 20px);
  box-sizing: border-box;
  border-radius: 10px;
}

.new-image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.new-image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.new-text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(226, 202, 157);
  text-align: center;
  padding: 15px;
}

.new-image-text {
  margin: 0;
  font-weight: bold;
}

.new-image-price {
  margin: 0;
  font-weight: bold;
  color: #a287a3;
}
@media screen and (max-width: 1200px) {
  .new-container {
    margin: 0 100px;
  }
}

@media screen and (max-width: 992px) {
  .new-container {
    margin: 0 50px;
  }
  .new-col-sm-3 {
    flex-basis: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .new-container {
    margin: 0 30px;
  }
  .new-col-sm-3 {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .new-container {
    margin: 0 10px;
  }
  .new-col-sm-3 {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
  .new-image-text {
    font-size: 18px;
  }
  .new-image-price {
    font-size: 16px;
  }
}

/*              Social Media Icons               */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.media-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.icon img {
  width: 25px;
  height: 25px;
}

span {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #54424b;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 600px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .media-button {
    margin-bottom: 20px;
  }
}
/*                 SEARCH BAR      */
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.search-bar form {
  display: flex;
  align-items: center;
  background-color: #d2b48c;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}

.search-bar input[type="text"] {
  border: none;
  padding: 10px;
  flex-grow: 1;
  font-size: 16px;
}

.search-bar button[type="submit"] {
  background-color: #54424b;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .search-bar {
    flex-wrap: wrap;
  }

  .search-bar form {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-bar input[type="text"] {
    width: 100%;
    margin-right: 0;
  }

  .search-bar button[type="submit"] {
    margin-top: 10px;
  }
}
/*               ----------         */
